<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gvs.com.trafficrules">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Adminlog" />
        <activity android:name=".TFLog" />
        <activity android:name=".CPLog" />
        <activity android:name=".VialotorLog" />
        <activity
            android:name=".AdminHome"
            android:label="@string/title_activity_admin_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TPHome"
            android:label="@string/title_activity_tphome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CP_Log" />
        <activity
            android:name=".CPHome"
            android:label="@string/title_activity_cphome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UploadComplaint" />
        <activity android:name=".Conform_Comp" />
        <activity
            android:name=".VPHome"
            android:label="@string/title_activity_vphome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Pay" />
        <activity android:name=".UploadVIdeo" />
        <activity android:name=".View_Video"></activity>
    </application>

</manifest>